@use 'variables' as *;


// mixins .
@mixin set-font($size: 1em, $line-height: normal, $font) {
    font-family: $font;
    font-size: $size;
    line-height: $line-height;
  }

  @mixin set-flex($direction: row, $wrap: wrap) {
    display: flex;
    flex-flow: $direction $wrap;
  }
 
  header h1{
    @include set-font( $size:3em,$font:$headline-font );
    margin: 10px 30px 0px 30px;
  }
  header h2{
    @include set-font( $size:1.5em,$font:$smaller-headlines-font );
    margin-left:155px;
    margin-top: 0px;
  }
  h3{
    @include set-font($size:1em, $font:$body-font);
  }
  h4{
    @include set-font( $font:$body-font);
    font-style: italic;
  }

  p{
    @include set-font($font:$body-font)
  }
 
