/* colors and fonts variables */

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkalami&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300&display=swap');

$headline-font:'Lobster', cursive;
$smaller-headlines-font: 'Alkalami', serif;
$body-font: 'Ubuntu', sans-serif;
$body-background-color: #ffff;
$primary-color: #6a8e7f;
$accent-color1: #D2FF28;
$accent-color2: #C585B3;
$paragraph-color: #000000; 

