@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@media screen and (max-width: 600px){
body {
    
    color:#333;
    max-width:600px;
}
header h1 a {
    text-decoration: none;
    font-size:60px;
}
div header {
    text-align:center;
    font-family:Lora, Arial, sans-serif;
}
nav ul{
    border-style:black;
}
nav{
    border-top: 2px solid #d0d0d0;
    border-bottom:2px solid #d0d0d0;
}
nav ul li {
    display:flex;
    flex-direction:column;
    text-align:center;
    text-decoration: none;
    margin-bottom:5px;
   
}
section a {
    text-align:center;
    text-decoration: none;
}
section p a {
    font-size:15px;
    text-decoration: none;
    font-family:Helvetica, Arial, sans-serif;
}

nav ul li a {
    text-decoration: none;
    font-size:25px
}

article div { 
    text-align:right;
    font-size:25px;
    padding-top:40px; 
    border-bottom:2px solid #d0d0d0;
    font-family:Lora, Arial, sans-serif;}
.post-date{
    border-top:2px solid #d0d0d0;
}


main {
    font-family:Helvetica, Arial, sans-serif;
}

};
